.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}



.blogs{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
   
  

}
  

   .mainMenu ul{
         display: flex;
         justify-content: center;
   }
    .mainMenu ul li {
          list-style: none;
          margin: 0 1rem;
          font-weight: bold;
    }











